
/* .neighborhood_container{ */
    /* max-width: 1440px; */
    /* margin: auto;
} */

.n_header_container {
    margin: auto;
    /* border: 1px solid slateblue; */
    max-width: 1440px;
}
.n_header {
    /* border: 1px solid green; */
   margin-top: 80px;
   margin-left: 80px;
   margin-bottom: 40px;
}

.n_header h2 {
    font-size: 40px;
    color: #545454;
}

.n_header p {
    font-size: 16px;
    color: #707070;
}
.n_main_full {
    background-color: #2E48DE;
}
.n_main{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1440px;
    height: 355px;
    padding: 0px 80px;
    /* background-color: #2E48DE; */
}

.n_container { 
    display: flex;
    flex-grow: 1;
    align-items: center;
    box-sizing: border-box;
    gap: 28px;
    align-items: center;
    overflow-x: auto;
    margin: auto;
    padding: 0px 40px;
    scrollbar-width: none; /* Firefox 64 */

}

.n_div {
    width: 231px;
    height: 318px;
    flex-shrink: 0;
    margin-right: auto;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.n_image {
    height: 218px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.n_name {
    font-size: 20px;
    padding-left: 10px;
    color: #545454;
}

.n_area {
    color: #707070;
    padding-left: 10px;
    font-size: 16px;
}

@media screen and (max-width: 768px){
    

    .n_header {
        margin-top: 80px;
        margin-left: 40px;
        margin-bottom: 40px;
     }
     
     .n_header h2 {
         font-size: 20px;
         color: #545454;
     }
     
     .n_header p {
         font-size: 12px;
         color: #707070;
     }
     
     .n_main{
         display: flex;
         align-items: center;
         width: 100%;
         height: 194px;
         padding: 0px 40px;
         background-color: #2E48DE;
     }
     
     .n_container { 
         display: flex;
         align-items: center;
         box-sizing: border-box;
         gap: 28px;
         align-items: center;
         overflow-x: auto;
         margin: auto;
         padding: 0px 40px;
     }
     
     .n_div {
         width: 136px;
         height: 145px;
         flex-shrink: 0;
         box-sizing: border-box;
         background-color: #FFFFFF;
         border-radius: 10px;
     }
     
     .n_image {
         height: 100px;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         box-sizing: border-box;
         width: 100%;
         margin-bottom: 10px;
     }
     
     .n_name {
         font-size: 12px;
         padding-left: 5px;
         color: #545454;
     }
     
     .n_area {
         color: #707070;
         padding-left: 5px;
         font-size: 10px;
     }
     
}