.inputContainer {
     display: flex;
     flex-direction: row;

     gap: 10px;
}

.price_range_container {
    margin-top: 20px;
}

.customDatePicker {
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #6d7bfd;
}